body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #5f0707, #301503, #770d0d, #3d1c06); /* Градиент под углом 135 градусов */
    color: #fff;
    background-size: cover; /* Заполняет всю область элемента */
    background-repeat: no-repeat; /* Отключает повторение фона */
    background-position: center; /* Центрирует градиент */
    background-attachment: fixed; /* Фиксирует градиент относительно окна браузера */
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1a1a1a;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
}

.hero-content h1 {
    font-size: 2em; /* Установите нужный размер шрифта */
    margin-bottom: 20px;
}

.hero-content {
    text-align: left;
    max-width: 50%;
    margin-left: 30px; /* Добавьте отступ от левого края */
}

.hero-content button {
    padding: 10px 20px;
    font-size: 1em;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero-content button:hover {
    background-color: #fff;
    color: #000;
}

.hero-images {
    display: flex;
    gap: 50px; /* Пространство между изображениями */
    max-width: 50%;
}

.hero-image {
    width: 100%; /* Занимает всю доступную ширину */
    height: auto;
    max-width: 50%; /* Каждое изображение занимает половину ширины контейнера */
}

.services {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.service-column {
    background-color: hsl(0, 42%, 35%);
    color: #e2d6d6;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(252, 252, 252, 1.1);
    width: 30%;
    text-align: center;
 
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

nav a {
    color: #fff; 
    font-family: 'Arial', sans-serif; 
    font-size: 16px; 
    text-decoration: none; 
    margin-left: 10px; 
    transition: color 0.3s; 
}

nav a:hover {
    color: #ff6b6b; 
}

.details-button {
    padding: 10px 20px;
    font-size: 1em; 
    border: none;
    background-color: #ffffff; /* Цвет фона */
    color: #fff; /* Цвет текста */
    cursor: pointer;
    transition: background-color 0.3s; /* Плавный переход при наведении */
    border-radius: 10px; /* Закругленные углы */
    box-shadow: 0 0 10px rgba(255, 255, 255, 1); /* Тень при наведении */
    
}

